<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.stack.3d.forward.dottedline.fill</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Criar nova categoria</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Nova Categoria</string>
			<key>UIApplicationShortcutItemType</key>
			<string>addCategory</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>list.bullet.rectangle.fill</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Criar nova transação</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Nova Transação</string>
			<key>UIApplicationShortcutItemType</key>
			<string>addTransaction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>dollarsign.square.fill</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Criar novo orçamento</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Novo Orçamento</string>
			<key>UIApplicationShortcutItemType</key>
			<string>addBudget</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
