<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>Nova Categoria</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Nova Categoria</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>square.stack.3d.forward.dottedline.fill</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Criar nova categoria</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>Nova Transação</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Nova Transação</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>list.triangle</string>
            <key>UIApplicationShortcutItemSubtitle</key>
            <string>Criar nova transação</string>
        </dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
</dict>
</plist>
